<div class="jumbotron">
  <h1 class="text-center">Alurapic</h1>
</div>
<div class="row">
  <div class="col-md-12">
    <form>
      <div class="input-group">
        <span class="input-group-btn">
          <a href="/fotos/new" class="btn btn-primary" type="button">
            Nova foto
          </a>
        </span>
        <input
          class="form-control"
          placeholder="filtrar pelo título da foto"
          ng-model="filtro"
          ng-model-options="{ debounce: 500 }"
        />
      </div>
    </form>
  </div>
</div>
<meu-painel
  class="col-md-2 painel-animado"
  ng-repeat="foto in fotos | filter:{titulo:filtro}"
  titulo="{{ foto.titulo }}"
>
  <img
    class="img-responsive center-block"
    ng-src="{{ foto.url }}"
    alt="{{ foto.titulo }}"
  />
</meu-painel>
